/* This resets the page to my preferred starting point. */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* This sets up the page for the single page effect */
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* border: 4px solid yellow; */
  height: 100vh;
  width: 100vw;
}

@media (max-device-width: 1200px) {
  body {
    justify-content: flex-start;
  }
}

/* ------------------------  $variables  ------------------------ */

/* $primary-color: #bee1e6; */
/* $secondary-color: #E2ECE9; */

/* ------------------------  @Mixins  ------------------------ */

/* This styles icons */
/* @mixin icon-style {
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
  font-size: 32px;
} */

/* This styles round icons */
/* @mixin round-icon {
  height: 56px;
  width: 56px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
} */

/* This styles the navigation buttons */
/* @mixin nav-button-style {
  position: fixed;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6, -4px 0 4px 0 #cddafd;
  transition: 1s;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
} */

/* This shows the navigation text when hovering over the icon */
/* @mixin hover-text {
  display: flex;
  opacity: 100%;
  transition: opacity 1.5s;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
} */

/* This is for text/icon gradients. It will show the gradient as a text color rather than element bg. */
/* @mixin icon-clip {
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
} */

/* This is a flexbox row centred */
/* @mixin row-centred {
  display: flex;
  flex-direction: row;
  justify-content: center;
} */

/* This is a flexbox colum centred */
/* @mixin column-centred {
  display: flex;
  flex-direction: column;
  justify-content: center;
} */

/* ------------------------  Type-scale  ------------------------ */

/* This is the typography scale i will be using */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p,
ul {
  font-family: "Lusitana", serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

/* ------------------------  Link Styling ------------------------ */

/* This removes all link styling */
a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

/* ------------------------  Icons ------------------------ */

/* This adds styling and a transition timer to all icons */
.icon i {
  /* @include icon-style (); */
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
  font-size: 32px;

  /* @include round-icon (); */
  height: 56px;
  width: 56px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  /* Independant declarations */
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

/* This adds the rotate effect to the icons only */
.icon i:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

/* This adds icon border styling to all navigation buttons in order to make the box-shadow transform correctly */
.icon_border {
  /* @include icon-style ():; */
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
  font-size: 32px;

  /* @include round-icon (); */
  height: 56px;
  width: 56px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* This changes the border-radius on hover to all navigation icons */
.icon_border:hover {
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}

/* ------------------------  Mobile Navigation Bar ------------------------ */
@media screen and (max-device-width: 1200px) {
  .desktop_nav {
    display: none;
  }
}

/* Style the normal horizontal nav menu. */
.mobile_nav {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 16px 0;
  top: 0;
  max-width: 700px;
  width: 100%;
  /* border: 2px solid green; */
  /* background-color: pink; */
}
@media screen and (min-device-width: 1200px) {
  .mobile_nav {
    display: none;
  }
}

.mobile_nav ul {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  color: #bee1e6;
}

#checkbox1,
.toggle {
  display: none;
}

.menu {
  padding: 0;
  margin: 0;
  max-width: 700px;
  height: 50px;
  /* border-radius: 5px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  /* border: 3px purple; */
}

.menu li a {
  text-decoration: none;
  align-self: center;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 15px;
  transition: background 0.2s linear;
  /* border: 2px solid red; */
}

/* Style the hamburger menu on small screens. */
@media screen and (max-width: 600px) {
  header {
    position: relative;
    top: 0;
    width: 100%;
    padding: 0;
  }
  .menu li a {
    font-size: 12px;
  }
  .mobile_nav {
    padding: 0;
  }
}

@media screen and (max-width: 550px) {
  .toggle {
    clear: both;
    display: block;
    text-align: center;
    font-size: 14px;
    line-height: 40px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    font-size: 18px;
    color: #bee1e6;
    background: #fff;
    border-radius: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: all 0.1s linear;
    -webkit-border-radius: none;
    -moz-border-radius: none;
    -ms-border-radius: none;
    -o-border-radius: none;
  }
  .toggle:hover {
    background: #fff;
  }

  #checkbox1:checked + label .first li {
    opacity: 1;
    visibility: visible;
    transition: all 0.7s linear;
  }

  #checkbox1:checked + label .first {
    height: 200px;
  }
  .menu {
    border-radius: 0px;
    /* border-top-left-radius: 5px; */
    /* border-top-right-radius: 5px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 0px;
    transition: height 0.3s linear;
    /* background-color: yellow; */
  }
  .menu li {
    display: flex;
    /* magic */
    align-self: center;
    width: 95%;
    opacity: 0;
    visibility: hidden;
  }
  .menu li a {
    width: 100vw;
    text-align: center;
    align-self: center;
    align-content: center;
  }

  .first {
    background: #bee1e6;
  }

  .first li a {
    color: #fff;
  }

  .first li a:hover {
    background: #fff;
  }
}

/* ------------------------  Desktop Navigation Button Text ------------------------ */

/* Adds the icon styling to the h1 text and hides it with opacity */
.icon h1 {
  /* @include icon-style (); */
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 56px;

  /* Independant declarations */
  position: fixed;
  color: #bee1e6; /* add $primary-color */
  opacity: 0;
  transition: 1s;
  transition-timing-function: ease-in;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

/* ------------------------  Home Button ------------------------ */

/* This positions the home button border, the box shadow and adds a transition timer */
.icon_border.home {
  /* @include nav-button-style (); */
  position: fixed;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  transition: 1s;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;

  /* independant declarations */
  left: 32px;
  top: 32px;
}

/* This transforms the box shadow to wrap around the "HOME" navigation text */
.icon_border.home:hover {
  padding: 16px 96px;
}

/* This positions the home icon */
.fa-home {
  display: flex;
  position: fixed;
  left: 32px;
  top: 32px;
  color: #bee1e6; /* add $primary-color */
}

/* This positions the "HOME" text next to the home icon */
.home_txt {
  left: 88px;
  top: 32px;
}

/* This unhides the "HOME" text when the user hovers over the icon using opacity */
.home_wrapper:hover .home_txt {
  /* @include hover-text (); */
  display: flex;
  opacity: 100%;
  transition: opacity 1.5s;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}

/* ------------------------  About Button ------------------------ */

/* This positions the about button border, the box shadow and adds a transition timer */
.icon_border.about {
  /* @include nav-button-style (); */
  position: fixed;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  transition: 1s;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;

  /* independant declarations */
  right: 32px;
  top: 32px;
}

/* This transforms the box shadow to wrap around the "ABOUT" navigation text */
.icon_border.about:hover {
  padding: 16px 106px;
}

/* This positions the info icon */
.fa-info {
  display: flex;
  position: fixed;
  right: 32px;
  top: 32px;
  color: #bee1e6; /* add $primary-color */
}

/* This positions the "ABOUT" text next to the info icon */
.about_txt {
  right: 88px;
  top: 32px;
}

/* This unhides the "ABOUT" text when the user hovers over the icon using opacity */
.about_wrapper:hover .about_txt {
  /* @include hover-text (); */
  display: flex;
  opacity: 100%;
  transition: opacity 1.5s;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}

/* ------------------------  Blog Button ------------------------ */

/* This positions the blog button border, the box shadow and adds a transition timer */
.icon_border.blog {
  /* @include nav-button-style (); */
  position: fixed;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  transition: 1s;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;

  /* independant declarations */
  right: 32px;
  bottom: 32px;
}

/* This transforms the box shadow to wrap around the "BLOG" navigation text */
.icon_border.blog:hover {
  padding: 16px 92px;
}

/* This positions the pen icon */
.fa-pen {
  display: flex;
  position: fixed;
  right: 32px;
  bottom: 32px;
  color: #bee1e6; /* add $primary-color */
}

/* This positions the "BLOG" text next to the pen icon */
.blog_txt {
  right: 88px;
  bottom: 32px;
}

/* This unhides the "BLOG" text when the user hovers over the icon using opacity */
.blog_wrapper:hover .blog_txt {
  /* @include hover-text (); */
  display: flex;
  opacity: 100%;
  transition: opacity 1.5s;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}

/* ------------------------  Project Button ------------------------ */

/* This positions the projects button border, the box shadow and adds a transition timer */
.icon_border.projects_icon {
  /* @include nav-button-style (); */
  position: fixed;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  transition: 1s;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;

  /* independant declarations */
  left: 32px;
  bottom: 32px;
}

/* This transforms the box shadow to wrap around the "PROJECTS" navigation text */
.icon_border.projects_icon:hover {
  padding: 16px 136px;
}

/* This positions the briefcase icon */
.fa-briefcase {
  display: flex;
  position: fixed;
  left: 32px;
  bottom: 32px;
  color: #bee1e6; /* add $primary-color */
}

/* This positions the "PROJECTS" text next to the briefcase icon */
.projects_txt {
  left: 88px;
  bottom: 32px;
}

/* This unhides the "PROJECTS" text when the user hovers over the icon using opacity */
.projects_wrapper:hover .projects_txt {
  /* @include hover-text (); */
  display: flex;
  opacity: 100%;
  transition: opacity 1.5s;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}

/* ------------------------ Social Icons ------------------------ */

.fa-github {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #fff1e6 0%, #fde2e4 100%);
  background: -webkit-linear-gradient(left, #fff1e6 0%, #fde2e4 100%);
  background: linear-gradient(to right, #fff1e6 0%, #fde2e4 100%);

  /* Use the text as a mask for the background. */
  /* This is for text/icon gradients. This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.fa-linkedin-in {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #fad2e1 0%, #e2ece9 100%);
  background: -webkit-linear-gradient(left, #fad2e1 0%, #e2ece9 100%);
  background: linear-gradient(to right, #fad2e1 0%, #e2ece9 100%);

  /* Use the text as a mask for the background. */
  /* This is for text/icon gradients. This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.fa-twitter {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #bee1e6 0%, #f0efeb 100%);
  background: -webkit-linear-gradient(left, #bee1e6 0%, #f0efeb 100%);
  background: linear-gradient(to right, #bee1e6 0%, #f0efeb 100%);

  /* Use the text as a mask for the background. */
  /* This is for text/icon gradients. This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.fa-paper-plane {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: -webkit-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: linear-gradient(to right, #f0efeb 0%, #dfe7fd 100%);

  /* Use the text as a mask for the background. */
  /* This is for text/icon gradients. This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.fa-download {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: -webkit-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: linear-gradient(to right, #f0efeb 0%, #dfe7fd 100%);

  /* Use the text as a mask for the background. */
  /* This is for text/icon gradients. This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.fa-node-js {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: -webkit-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: linear-gradient(to right, #f0efeb 0%, #dfe7fd 100%);

  /* Use the text as a mask for the background. */
  /* This is for text/icon gradients. This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/* ------------------------ Tags ------------------------ */

/* Set up consitent styling */
.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Set up consistent spacing for each tag */
span {
  padding: 8px 24px;
  margin: 0 12px 0 0;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.html_tag {
  border: 2px solid #fad2e1;
}

.css_tag {
  border: 2px solid #cddafd;
}

.git_tag {
  border: 2px solid #eae4e9;
}

.js_tag {
  border: 2px solid #fff1e6;
}

.api_tag {
  border: 2px solid #f0efeb;
}

/* ------------------------ Main Card Styling ------------------------ */

/* This styles the main 'busines card' card on each page */
.card {
  /* @include row-centred (); */
  display: flex;
  flex-direction: row;
  justify-content: center;

  background-color: white;
  border-radius: 24px;
  box-shadow: 0 2px 32px 0 #bee1e6; /* add $primary-color */
  width: 70%;
  height: 70%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  transition: all 0.25s ease;
  z-index: 100 !important;
}
@media screen and (max-device-width: 1200px) {
  .card {
    display: none;
  }
  .mobile_card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80%;
    margin: auto 0;
    box-shadow: none;
    /* border: 6px solid green; */
  }
  .mobile_card_column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80%;
    margin: auto 0;
    box-shadow: none;
    /* border: 2px solid green; */
  }
}

.card.animate:hover {
  transform: translate3d(5px, -5px, -5px);
  -webkit-transform: translate3d(5px, -5px, -5px);
  -moz-transform: translate3d(5px, -5px, -5px);
  -ms-transform: translate3d(5px, -5px, -5px);
  -o-transform: translate3d(5px, -5px, -5px);
}

/* ------------------------ Home Page ------------------------ */

/* Overlay card to style help children */
.home_card {
  /* @include column-centred (); */
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  align-content: space-between;
  width: 100%;
}
@media screen and (max-device-width: 1200px) {
  .mobile_home_card {
    /* @include column-centred (); */
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    height: 100%;
    /* border: 1px solid orange; */
  }
}

/* Centres image in card with box shadow */
.home_img {
  box-shadow: 0 8px 8px 0 #fff1e6, 8px 0 8px 0 #bee1e6, 0 -8px 8px 0 #fad2e1,
    -8px 0 8px 0 #cddafd;
  height: 30%;
  margin: 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* border: 2px solid green; */
}
@media screen and (max-device-width: 1200px) {
  .home_img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 40%;
  }
}

/* Positions title in the centre */
.home_title {
  /* @include row-centred (); */
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 70%;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  letter-spacing: 4px;
  margin: 8px;
}
@media screen and (max-device-width: 1200px) {
  .home_title {
    font-size: 24px;
    width: 90%;
    margin: 16px 0;
  }
}

/* Positions description in the centre */
.home_description {
  /* @include row-centred (); */
  display: flex;
  justify-content: center;
  flex-direction: row;

  text-align: center;
  font-size: 18px;
  width: 75%;
  margin: 8px;
  line-height: 1.5;
}

/* Positions icons in the centre */
.home_social {
  /* @include row-centred (); */
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
}

/* ------------------------  About Page ------------------------ */

/* Overlay card to help style the children */
.about_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* Figured out i can use percentages which helps keep the card padding responsive */
  padding: 2% 0;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .about_card {
    flex-direction: row;
    /* border: 2px solid green; */
  }
}
@media screen and (max-device-width: 600px) {
}

/* Single column tile */
.tile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin: 0 2px;
  height: 28%;
  contain: content;
  box-shadow: 0 2px 5px 0 #bee1e6; /* add $primary-color */
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .tile {
    width: 45vw;
    height: 20vh;
    margin: 16px 0;
  }
}
@media screen and (max-device-width: 600px) {
  .tile {
    width: 90vw;
    height: 20vh;
    margin: 16px 0;
  }
}

/* Styling for image to fit in a single column tile */
.tile_img {
  height: 28%;
  background: url(../img/jasonprofilepic.jpeg);
  background-size: cover;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .tile_img {
    width: 90vw;
    height: 60vh;
    margin: 16px 0;
  }
}
@media screen and (max-device-width: 600px) {
  .tile_img {
    width: 90vw;
    height: 40vh;
    margin: 16px 0;
  }
}

/* Triple sized tile */
.triple_tile {
  /* @include column-centred (); */
  display: flex;
  flex-direction: column;
  justify-content: center;

  contain: content;
  width: 68%;
  margin: 0 2px 0 0;
  height: 28%;
  box-shadow: 0 2px 5px 0 #bee1e6; /* add $primary-color */
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .triple_tile {
    width: 90vw;
    height: 20vh;
    margin: 16px 0;
  }
}
@media screen and (max-device-width: 600px) {
  .triple_tile {
    width: 90vw;
    height: 40vh;
    margin: 16px 0;
  }
}

/* Styling for triple tile title */
.about_title {
  display: flex;
  padding: 8px 24px;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .about_title {
    font-size: 24px;
  }
}

/* Styling for triple tile description */
.about_description {
  display: flex;
  padding: 0 24px 8px 24px;
  font-size: 14px;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .about_description {
    font-size: 16px;
  }
}

/* Styling for single tile titles */
.tile h3 {
  /* @include row-centred (); */
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: flex-end;
  font-size: 16px;
  padding: 8px 0 4px 0;
  height: 40%;
  /* border: 2px solid green; */
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .tile h3 {
    font-size: 24px;
  }
}

h3.resume,
h3.contact {
  padding-bottom: 2px;
}

/* Styling for single tile gradient titles */
.tile h1 {
  /* @include row-centred (); */
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: flex-start;
  height: 60%;
  text-align: center;
  font-size: 28px;
  /* border: 2px solid green; */

  /* Fallback: Set a background color. */
  background-color: #bee1e6; /* add $primary-color */

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This is for text/icon gradients. This will show the gradient as a text color rather than element bg. */
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .tile h1 {
    font-size: 40px;
  }
}

h1.looking {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #fff1e6, #fad2e1);
}

h1.working {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #fad2e1, #dfe7fd);
}

h1.learning {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #eae4e9, #bee1e6);
}

h1.interests {
  font-size: 16px;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #bee1e6, #cddafd);
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  h1.interests {
    font-size: 24px;
  }
}

h1.experience {
  font-size: 16px;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #fad2e1, #dfe7fd);
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  h1.experience {
    font-size: 24px;
  }
}

h1.collaborate {
  font-size: 16px;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #eae4e9, #bee1e6);
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  h1.collaborate {
    font-size: 24px;
  }
}

/* Icon positioning for stack tile */
.icon_box {
  /* @include row-centred (); */
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: flex-start;
  height: 60%;
  padding-bottom: 8px;
  /* border: 2px solid green; */
}

/* ------------------------ Blog Page Slides ------------------------ */

/* This hides the slides so the script can work properly */
.mySlides {
  display: none;
}

/* Slideshow container */
.blog_card {
  /* @include row-centred (); */
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;

  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .blog_card {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    height: 600px;
    /* border: 4px solid blue; */
    box-shadow: 0 2px 32px 0 #bee1e6; /* add $primary-color */
  }
}
@media screen and (max-device-width: 600px) {
  .blog_card {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    height: 400px;
    /* border: 4px solid blue; */
    box-shadow: 0 2px 32px 0 #bee1e6; /* add $primary-color */
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #bee1e6; /* $primary-color: #bee1e6; */
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
}

/* Position the "next button" to the right */
.next {
  right: 15%;
  border-radius: 3px 0 0 3px;
}

/* Position the "prev button" to the left */
.prev {
  left: 15%;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a background color with a little opacity */
.prev:hover,
.next:hover {
  background-color: #bee1e6; /* $primary-color: #bee1e6; */
  opacity: 0.5;
}

/* The dots/bottom bar indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #e2ece9; /* $secondary-color: #E2ECE9; */
  /* border-radius: 50%; */
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #bee1e6; /* $primary-color: #bee1e6; */
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}

/* ------------------------ Blog Page ------------------------ */

/* position image to take up 100% of its container */
.blog_img {
  display: flex;
  width: 100%;
  height: 100%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
/* Removes bottom left border radius from image on mobile */
@media screen and (max-device-width: 1200px) {
  .blog_img {
    border-bottom-left-radius: 0;
    height: 100%;
  }
}

/* card that provides a sneak peek of the blog */
.blog_peek {
  /* @include column-centred (); */
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: 100%;
  align-items: center;
  padding: 12px;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .blog_peek {
    align-items: flex-start;
    padding: 0;
    height: 30%;
    /* border: 2px solid brown; */
  }
}
@media screen and (max-device-width: 600px) {
  .blog_peek {
    height: 30%;
    padding: 0;
    /* border: 2px solid brown; */
  }
}

/* Styling for blog title */
.blog_title {
  font-size: 32px;
  width: 80%;
  line-height: 1.5;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .blog_title {
    padding: 24px 0 4px 24px;
    width: 80%;
    font-size: 28px;
    /* border: 2px solid blue; */
    line-height: normal;
  }
}
@media screen and (max-device-width: 600px) {
  .blog_title {
    width: 80%;
    padding: 0 0 4px 0;
    font-size: 16px;
    /* border: 2px solid blue; */
    line-height: normal;
  }
}

/* Styling for blog description */
.blog_description {
  width: 80%;
  line-height: 1.5;
  margin-bottom: 24px;
}
@media screen and (max-device-width: 1200px) {
  .blog_description {
    display: none;
  }
}

/* Styling for blog published date */
.blog_published {
  text-align: left;
  margin: 12px;
  width: 80%;
  font-style: italic;
  color: grey;
}
@media screen and (max-device-width: 1200px) and (min-device-width: 600px) {
  .blog_published {
    padding: 0 24px;
    font-size: 16px;
    width: 80%;
    margin: 0;
    /* border: 2px solid purple; */
  }
}
@media screen and (max-device-width: 600px) {
  .blog_published {
    font-size: 12px;
    padding: 0;
    margin: 0;
    /* border: 2px solid purple; */
  }
}

/* Conatainer for tags */
.blog_tags {
  width: 80%;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .blog_tags {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 12px;
    width: 80%;
    padding: 12px 0 24px 24px;
    /* border: 2px solid pink; */
  }
}
@media screen and (max-device-width: 600px) {
  .blog_tags {
    display: none;
  }
}

/* ------------------------ Individual Blog Post ------------------------ */

/* This sets up the blog post column */
.post_column {
  /* @include column-centred (); */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */

  width: 60%;
  max-width: 900px;
  margin: 48px 0;
  background-color: white;
  box-shadow: 0 2px 32px 0 #bee1e6; /* add $primary-color */
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  /* z-index: 100 !important; */
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .post_column {
    width: 80%;
  }
}
@media screen and (max-device-width: 600px) {
  .post_column {
    width: 100%;
  }
}

/* This contains all of the blog post elements */
.post_container {
  /* @include column-centred (); */
  /* I may not even need this div at all */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Blog post header image */
.header_img img {
  background-size: cover;
  height: 400px;
  width: 100%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
}

.metadata {
  /*@includerow-centred():;
  */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin: 16px auto;
  height: 100px;
  /* border: 2px solid grey; */
  border-radius: 52px;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
}
@media screen and (max-device-width: 600px) {
  .metadata {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    height: fit-content;
  }
}

/* Profile photo */
.meta_img {
  display: flex;
  align-items: center;
  background-image: url(../img/jasonprofilepic.jpeg);
  background-size: cover;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .meta_img {
    /* width: 80%; */
  }
}
@media screen and (max-device-width: 600px) {
  .meta_img {
    height: 100px;
    width: 100px;
    justify-content: center;
    /* border: 2px solid brown; */
  }
}

/* Post info */
.meta_info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 8px;
  height: max-content;
  width: 40%;
  /* border: 1px solid blue; */
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .meta_info {
    width: 50%;
    /* border: 2px solid brown; */
  }
}
@media screen and (max-device-width: 600px) {
  .meta_info {
    align-items: center;
    width: 100%;
    /* border: 2px solid brown; */
  }
}

/* Name of publisher */
.meta_info p.name {
  display: flex;
  margin: 0;
  font-size: 24px;
  font-weight: 800;
  padding: 0;
  /* border: 2px solid green; */
}
@media screen and (max-device-width: 600px) {
  .meta_info p.name {
    width: fit-content;
    margin: 0 auto;
    /* border: 2px solid blue; */
  }
}

/* Published date */
.meta_info p.blog_published {
  display: flex;
  margin: 0;
  padding: 0;
  /* border: 2px solid green; */
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .meta_info p.blog_published {
    width: 100%;
    margin: 0;
    padding: 0;
    /* border: 2px solid blue; */
  }
}
@media screen and (max-device-width: 600px) {
  .meta_info p.blog_published {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    /* border: 2px solid pink; */
  }
}

/* Average post reading time */
.meta_info p.read_time {
  display: flex;
  align-items: center;
  margin-left: 0;
  padding: 0;
  /* border: 2px solid green; */
}

/* Like / save / share buttons */
.meta_links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  width: 40%;
  font-size: 24px;
  /* border: 1px solid blue; */
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .meta_links {
    width: 30%;
    /* padding-left: ; */
    /* border: 2px solid pink; */
  }
}
@media screen and (max-device-width: 600px) {
  .meta_links {
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    /* border: 2px solid brown; */
  }
}

.meta_links i {
  padding-left: 16px;
  color: #bee1e6;
}
@media screen and (max-device-width: 600px) {
  .meta_links i {
    padding: 0 8px;
  }
}

a:active .fa-heart {
  color: red;
}

a:active .fa-bookmark {
  color: black;
}

/* Horizontal rule styling */
hr.post {
  width: 80%;
  margin: 8px auto;
  color: #bee1e6;
}

/* Post title styling */
h1.post {
  width: 80%;
  margin: 8px auto;
  font-size: 40px;
}

/* Post tags styling */
.post_tags {
  display: flex;
  color: #bee1e6;
  width: 80%;
  margin: 8px auto;
}

/* Back link to blog page */
.back_link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  margin: 16px auto;
}

a:hover .back_link {
  color: #bee1e6;
}

/* Post formatting for paragrahs */
p.post {
  margin: 24px auto;
  width: 80%;
}

/* Post formatting for h2 */
h2.post {
  margin: 24px auto;
  width: 80%;
}

/* Post formatting for unordered lists */
ul.post {
  margin: 24px auto;
  width: 80%;
  padding: 20px;
}

/* Post formatting for images */
article img {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 16px auto;
}

/* ------------------------ Projects Page Slides ------------------------ */

/* This hides the slides so the script can work properly */
.mySlides {
  display: none;
}

/* Slideshow container */
.projects_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .projects_card {
    max-width: 90vw;
    height: 600px;
    /* border: 4px solid blue; */
    box-shadow: 0 2px 32px 0 #bee1e6; /* add $primary-color */
  }
}
@media screen and (max-device-width: 600px) {
  .projects_card {
    max-width: 90vw;
    height: 400px;
    /* border: 4px solid blue; */
    box-shadow: 0 2px 32px 0 #bee1e6; /* add $primary-color */
  }
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: fixed;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #bee1e6; /* $primary-color: #bee1e6; */
  font-weight: bold;
  font-size: 24px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* user-select: none; */
}

/* Position the "next button" to the right */
.next {
  right: 15%;
  border-radius: 3px 0 0 3px;
}
@media screen and (max-device-width: 1200px) {
  .next {
    right: 5%;
  }
}

/* Position the "prev button" to the left */
.prev {
  left: 15%;
  border-radius: 3px 0 0 3px;
}
@media screen and (max-device-width: 1200px) {
  .prev {
    left: 5%;
  }
}

/* On hover, add a background color with a little opacity */
.prev:hover,
.next:hover {
  background-color: #bee1e6; /* $primary-color: #bee1e6; */
  opacity: 0.5;
}

/* The dots/bottom bar indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #e2ece9;
  /* border-radius: 50%; */
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.dot:hover {
  background-color: #bee1e6; /* $primary-color: #bee1e6; */
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 12px;
  }
}

/* ------------------------ Projects Page ------------------------ */

/* Image styling that takes up the top 80% of the card */
.projects_img {
  display: flex;
  width: 100%;
  height: 80%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background: url(../img/bloggingsite.png);
  background-size: cover;
}

/* Project info that takes up the bottom portion of the card. Children are in row format */
.projects_info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
  height: 20%;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .projects_info {
    flex-direction: column;
    height: 30%;
  }
}
@media screen and (max-device-width: 600px) {
  .projects_info {
    height: 30%;
  }
}

/* Container for title and description text. takes up left hand side half of the info bar  */
.projects_description {
  display: flex;
  flex-direction: column;
  width: 50%;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .projects_description {
    /* border: 2px solid orange; */
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-device-width: 600px) {
  .projects_description {
    justify-content: center;
    padding: 0;
    /* border: 2px solid orange; */
    height: 100%;
    width: 80%;
  }
}

/* Info bar title */
.projects_title {
  padding: 24px 0 4px 24px;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .projects_title {
    /* border: 2px solid orangered; */
    font-size: 32px;
  }
}
@media screen and (max-device-width: 600px) {
  .projects_title {
    /* border: 2px solid orangered; */
    padding: 0 0 4px 0;
    font-size: 20px;
  }
}

/* Info bar description */
.projects_text {
  padding: 0 24px;
  width: 100%;
}
@media screen and (max-device-width: 1200px) and (min-device-width: 600px) {
  .projects_text {
    font-size: 16px;
    width: 85%;
    /* border: 2px solid purple; */
  }
}
@media screen and (max-device-width: 600px) {
  .projects_text {
    font-size: 12px;
    padding: 0;
    margin-bottom: 4px;
    /* border: 2px solid purple; */
  }
}

/* Container for tags. takes up right hand side half of the info bar  */
.projects_tags {
  justify-content: flex-end;
  width: 50%;
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .projects_tags {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-size: 12px;
    width: 100%;
    padding: 12px 0 24px 24px;
  }
}
@media screen and (max-device-width: 600px) {
  .projects_tags {
    display: none;
  }
}
/* ------------------------ Footer ------------------------ */

/* Postion footer in the centre at the bottom */
footer {
  display: flex;
  position: fixed;
  bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
  /* border: 4px solid rgb(3, 3, 3); */
}
@media screen and (min-device-width: 600px) and (max-device-width: 1200px) {
  .about_footer {
    display: flex;
    position: relative;
    bottom: 0;
    height: 50px;
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
  }
}
@media screen and (max-device-width: 600px) {
  .about_footer {
    display: flex;
    position: relative;
    bottom: 0;
    height: 50px;
    color: rgba(0, 0, 0, 0.5);
  }
}
