/* Fonts
Headings:
font-family: 'Raleway', sans-serif; 
Everywhere Else:
font-family: 'Lusitana', serif;
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Lusitana", serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* border: 4px solid yellow; */
  height: 100vh;
}

.background_banner {
  /* display: flex;
  position: fixed; */
  /* border: 1px solid green; */
  /* width: 100vw;
  align-items: center;
  margin: 0 auto;
  font-size: 24px;
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(88, 218, 198, 1) 23%,
    rgba(169, 170, 141, 1) 48%,
    rgba(201, 217, 112, 1) 78%,
    rgba(252, 70, 107, 1) 100%
  ); */
  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */
  /* z-index: -99999; */
  /* background-repeat: repeat-x; */
  /* flex-wrap: nowrap;
  height: 24px;
  margin-left: 24px; */
}

/* ------------------------  Link Styling ------------------------ */

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: inherit;
}

/* ------------------------  Icons ------------------------ */

/* This adds styling and a transition timer to all icons */
.icon i {
  /*make-@mixinicon-style*/
  /*@includeicon-style();*/
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
  font-size: 32px;

  /* @mixin round-icon */
  height: 56px;
  width: 56px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  /* Independant declarations */
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

/* This adds the rotate effect to the icons only */
.icon i:hover {
  transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -o-transform: rotate(360deg);
}

/* This adds icon border styling to all navigation buttons in order to make the box-shadow transform correctly */
.icon_border {
  /*make-@mixinicon-style*/ /*@includeicon-style():;
  */
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
  font-size: 32px;

  /* @mixin round-icon */
  height: 56px;
  width: 56px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* This changes the border-radius on hover to all navigation icons */
.icon_border:hover {
  border-radius: 28px;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  -ms-border-radius: 28px;
  -o-border-radius: 28px;
}

/* ------------------------  Navigation Button Text ------------------------ */

/* Adds the icon styling to the h1 text and hides it with opacity */
.icon h1 {
  /* @mixin - icon-style */
  display: flex;
  margin: 8px;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  height: 56px;

  /* Independant declarations */
  position: fixed;
  color: #bee1e6;
  opacity: 0;
  transition: 1s;
  transition-timing-function: ease-in;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}

/* ------------------------  Home Button ------------------------ */

/* This positions the home button border, the box shadow and adds a transition timer */
.icon_border.home {
  /* @mixin nav-border-style */
  position: fixed;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  transition: 1s;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;

  /* independant declarations */
  left: 32px;
  top: 32px;
}

/* This transforms the box shadow to wrap around the "HOME" navigation text */
.icon_border.home:hover {
  padding: 16px 96px;
}

/* This positions the home icon */
.fa-home {
  display: flex;
  position: fixed;
  left: 32px;
  top: 32px;
  color: #bee1e6;
}

/* This positions the "HOME" text next to the home icon */
.home_txt {
  left: 88px;
  top: 32px;
}

/* This unhides the "HOME" text when the user hovers over the icon using opacity */
.home_wrapper:hover .home_txt {
  /* @mixin hover-text */
  display: flex;
  opacity: 100%;
  transition: opacity 1.5s;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}

/* ------------------------  About Button ------------------------ */

/* This positions the home button border, the box shadow and adds a transition timer */
.icon_border.about {
  /* @mixin nav-border-style */
  position: fixed;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  transition: 1s;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;

  /* independant declarations */
  right: 32px;
  top: 32px;
}

/* This transforms the box shadow to wrap around the "ABOUT" navigation text */
.icon_border.about:hover {
  padding: 16px 106px;
}

/* This positions the home icon */
.fa-info {
  display: flex;
  position: fixed;  
  right: 32px;
  top: 32px;
  color: #bee1e6;
}

/* This positions the "ABOUT" text next to the home icon */
.about_txt {
  right: 88px;
  top: 32px;
}

/* This unhides the "ABOUT" text when the user hovers over the icon using opacity */
.about_wrapper:hover .about_txt {
  /* @mixin hover-text */
  display: flex;
  opacity: 100%;
  transition: opacity 1.5s;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}

/* ------------------------  Blog Button ------------------------ */

/* This positions the home button border, the box shadow and adds a transition timer */
.icon_border.blog {
  /* @mixin nav-border-style */
  position: fixed;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  transition: 1s;
  transition-timing-function: ease-out;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;

  /* independant declarations */
  right: 32px;
  bottom: 32px;
}

/* This transforms the box shadow to wrap around the "HOME" navigation text */
.icon_border.blog:hover {
  padding: 16px 96px;
}

/* This positions the home icon */
.fa-pen {
  display: flex;
  position: fixed;
  right: 32px;
  bottom: 32px;
  color: #bee1e6;
}

/* This positions the "HOME" text next to the home icon */
.blog_txt {
  right: 88px;
  bottom: 32px;
}

/* This unhides the "HOME" text when the user hovers over the icon using opacity */
.blog_wrapper:hover .blog_txt {
  /* @mixin hover-text */
  display: flex;
  opacity: 100%;
  transition: opacity 1.5s;
  transition-timing-function: ease-in;
  -webkit-transition: opacity 1.5s;
  -moz-transition: opacity 1.5s;
  -ms-transition: opacity 1.5s;
  -o-transition: opacity 1.5s;
}

/* ------------------------ Social Icons ------------------------ */

.fa-github {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #fff1e6 0%, #fde2e4 100%);
  background: -webkit-linear-gradient(left, #fff1e6 0%, #fde2e4 100%);
  background: linear-gradient(to right, #fff1e6 0%, #fde2e4 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-linkedin-in {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #fad2e1 0%, #e2ece9 100%);
  background: -webkit-linear-gradient(left, #fad2e1 0%, #e2ece9 100%);
  background: linear-gradient(to right, #fad2e1 0%, #e2ece9 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-twitter {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #bee1e6 0%, #f0efeb 100%);
  background: -webkit-linear-gradient(left, #bee1e6 0%, #f0efeb 100%);
  background: linear-gradient(to right, #bee1e6 0%, #f0efeb 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-paper-plane {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: -webkit-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: linear-gradient(to right, #f0efeb 0%, #dfe7fd 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-react {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: -webkit-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: linear-gradient(to right, #f0efeb 0%, #dfe7fd 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.fa-node-js {
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  background: -moz-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: -webkit-linear-gradient(left, #f0efeb 0%, #dfe7fd 100%);
  background: linear-gradient(to right, #f0efeb 0%, #dfe7fd 100%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ------------------------  Navigation Buttons ------------------------ */

/* .fa-info {
  position: fixed;
  right: 32px;
  top: 32px;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  color: #bee1e6;
} */

/* .fa-pen {
  position: fixed;
  right: 32px;
  bottom: 32px;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  color: #bee1e6;
} */

.fa-briefcase {
  position: fixed;
  left: 32px;
  bottom: 32px;
  box-shadow: 0 4px 4px 0 #fff1e6, 4px 0 4px 0 #fad2e1, 0 -4px 4px 0 #bee1e6,
    -4px 0 4px 0 #cddafd;
  color: #bee1e6;
}

/* ------------------------ Main Card Styling ------------------------ */

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: center;
  */ /*flex-direction: column;
  */
  background-color: white;
  border-radius: 24px;
  box-shadow: 0 2px 32px 0 #bee1e6;
  /*box-shadow: 0 8px 8px 0 #fff1e6, 8px 0 8px 0 #BEE1E6, 0 -8px 8px 0 #FAD2E1,    -8px 0 8px 0 #CDDAFD;
  */
  width: 70%;
  height: 70%;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  transition: all 0.25s ease;
  z-index: 100 !important;
}

.card:hover {
  transform: translate3d(5px, -5px, -5px);
  -webkit-transform: translate3d(5px, -5px, -5px);
  -moz-transform: translate3d(5px, -5px, -5px);
  -ms-transform: translate3d(5px, -5px, -5px);
  -o-transform: translate3d(5px, -5px, -5px);
}

/* ------------------------ Home Page ------------------------ */

.home_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 100%;
  /* border: 2px solid green; */
}

.home_img {
  /* border: 2px solid green; */
  /* box-shadow: 0 2px 50px 0 #bee1e6; */
  box-shadow: 0 8px 8px 0 #fff1e6, 8px 0 8px 0 #bee1e6, 0 -8px 8px 0 #fad2e1,
    -8px 0 8px 0 #cddafd;
  height: 40%;
  border-radius: 50%;
  margin: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  /* border: 2px solid green; */
}

.home_title {
  display: flex;
  width: 70%;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 4px;
  margin: 8px;
  /* border: 2px solid green; */
  justify-content: center;
}

.home_description {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  width: 75%;
  margin: 8px;
  line-height: 1.5;
}

.home_social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

/* ------------------------  About Page ------------------------ */

.about_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /* Figured out i can use percentages which helps keep the card padding responsive */
  padding: 2% 0;
}

/* @media (max-width: 400px) {
  .about_card {
    display: block;
  }
} */

.tile {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 2px;
  height: 28%;
  contain: content;
  box-shadow: 0 2px 5px 0 #bee1e6;
  /* box-shadow: 0 2px 32px 0 #BEE1E6; */
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.tile_img {
  height: 28%;
  background: url(../img/jasonprofilepic.jpeg);
  background-size: cover;
}

.triple_tile {
  display: flex;
  flex-direction: column;
  contain: content;
  width: 68%;
  margin: 0 2px 0 0;
  height: 28%;
  justify-content: center;
  box-shadow: 0 2px 5px 0 #bee1e6;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.about_title {
  display: flex;
  padding: 12px 24px 4px 24px;
  /* border: 2px solid green; */
}

.about_description {
  display: flex;
  padding: 0 24px 0 24px;
  /* border: 2px solid green; */
}

.tile h3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 16px;
  margin: 24px 0 0 0;
  height: 50%;
  /* border: 2px solid green; */
}

.tile h1 {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  text-align: center;
  /* border: 2px solid green; */

  /* Fallback: Set a background color. */
  background-color: rgb(0, 255, 221);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h1.looking {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #fff1e6, #fad2e1);
}

h1.working {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #fad2e1, #dfe7fd);
}

h1.learning {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #eae4e9, #bee1e6);
}

h1.interests {
  font-size: 20px;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #bee1e6, #cddafd);
}

.stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /* border: 2px solid green; */
  height: 100%;
}

.tile i {
  /* border: 2px solid green; */
}

/* ------------------------ Blog Page ------------------------ */

.blog_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  text-decoration: none;
}

.blog_img {
  display: flex;
  width: 100%;
  height: 100%;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.blog_peek {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.blog_title {
  font-size: 32px;
  width: 80%;
  line-height: 1.5;
}

.blog_description {
  width: 80%;
  line-height: 1.5;
  margin-bottom: 24px;
}

.blog_published {
  text-align: left;
  margin: 12px;
  width: 80%;
  font-style: italic;
  color: grey;
}

.tags {
  padding: 8px 0;
  width: 80%;
}

/* ------------------------ Projects Page ------------------------ */

.projects_card {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  */
  align-items: center;
  /*border: 2px solid yellow;
  */
  width: 100%;
  height: 100%;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.projects {
  display: flex;
  width: 100%;
  height: 80%;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background: url(../img/bloggingsite.png);
  background-size: cover;
}

.projects_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  /* border: 2px solid blue; */
}

.projects_description {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  width: 50%;
}

.projects_title {
  margin: 24px 0 0 24px;
}

.projects_text {
  margin: 0 24px;
}

.projects_tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid green; */
  width: 50%;
}

.projects_text a:hover {
  color: brown;
}

/* Tags */
span {
  padding: 8px 24px;
  margin: 0 12px 0 0;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.html_tag {
  border: 2px solid red;
}

.css_tag {
  border: 2px solid blue;
}

.git_tag {
  border: 2px solid black;
}

.js_tag {
  border: 2px solid yellow;
}

.api_tag {
  border: 2px solid grey;
}

/* Footer */

footer {
  display: flex;
  position: fixed;
  bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
  /* border: 4px solid rgb(3, 3, 3); */
}
