/* Fonts
Headings:
font-family: 'Raleway', sans-serif; 
Everywhere Else:
font-family: 'Lusitana', serif;
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: "Lusitana", serif;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  /* border: 4px solid yellow; */
  height: 100vh;
}

.background_banner {
  display: flex;
  position: fixed;
  /* border: 1px solid green; */
  width: 100vw;
  align-items: center;
  margin: 0 auto;
  font-size: 24px;
  background: -webkit-radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(88, 218, 198, 1) 23%,
    rgba(169, 170, 141, 1) 48%,
    rgba(201, 217, 112, 1) 78%,
    rgba(252, 70, 107, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* z-index: -99999; */
  /* background-repeat: repeat-x; */
  flex-wrap: nowrap;
  height: 24px;
  margin-left: 24px;
}

/* ------------------------  Navigation Buttons and Link Styling ------------------------ */

nav {
  background: rgb(0, 247, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 247, 255, 1) 0%,
    rgba(251, 217, 4, 1) 49%,
    rgba(233, 0, 255, 1) 100%
  );
}

a,
a:hover,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: #000;
}

.home_button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30px;
  top: 30px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  /* border: 4px solid rgba(255, 255, 255, 0); */
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 pink;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.about_button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  top: 30px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  /* border: 4px solid green; */
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 pink;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.blog_button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 30px;
  bottom: 30px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  /* border: 4px solid green; */
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 pink;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.projects_button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 30px;
  bottom: 30px;
  font-size: 24px;
  width: 50px;
  height: 50px;
  /* border: 4px solid green; */
  border-radius: 50%;
  box-shadow: 0 2px 5px 0 pink;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* ------------------------ Main Card Styling ------------------------ */


.card {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /*justify-content: center;
  */ /*flex-direction: column;
  */
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgba(28, 91, 133, 0.425);
  width: 70%;
  height: 70%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: all 0.25s ease;
  z-index: 100 !important;
}

.card:hover {
  transform: translate3d(5px, -5px, -5px);
  -webkit-transform: translate3d(5px, -5px, -5px);
  -moz-transform: translate3d(5px, -5px, -5px);
  -ms-transform: translate3d(5px, -5px, -5px);
  -o-transform: translate3d(5px, -5px, -5px);
}

/* ------------------------ Home Page ------------------------ */

.home_card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  width: 100%;
  /* border: 2px solid green; */
}

.home_img {
  /* border: 2px solid green; */
  box-shadow: 0 2px 5px 0 pink;
  height: 50%;
  border-radius: 50%;
  /* margin: 16px; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.home_title {
  display: flex;
  width: 80%;
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: 4px;
  margin: 8px;
  /* border: 2px solid green; */
  justify-content: center;
}

.home_description {
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 18px;
  width: 75%;
  margin: 8px;
  line-height: 1.5;
}

.home_social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
}

/* ------------------------  About Page ------------------------ */

.about_card {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 8px;
}

/* @media (max-width: 400px) {
  .about_card {
    display: block;
  }
} */

.tile {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 0 2px;
  height: 25%;
  contain: content;
  box-shadow: 0 2px 5px 0 rgba(28, 91, 133, 0.425);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.tile_img {
  margin-left: 6px;
  height: 25%;
  background: url(../img/jasonprofilepic.jpeg);
  background-size: cover;
  box-shadow: 0 2px 5px 0 rgba(28, 91, 133, 0.425);
}

.triple_tile {
  display: flex;
  flex-direction: column;
  contain: content;
  width: 68%;
  margin: 0 2px 0 0;
  height: 25%;
  justify-content: center;
  box-shadow: 0 2px 5px 0 rgba(28, 91, 133, 0.425);
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.about_title {
  display: flex;
  padding: 12px 24px 0 24px;
  /* border: 2px solid green; */
}

.about_description {
  display: flex;
  padding: 0 24px 0 24px;
  /* border: 2px solid green; */
}

.tile h3 {
  display: flex;
  justify-content: center;
  font-size: 16px;
  margin: 24px 0 0 0;
}

.tile h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;

  /* Fallback: Set a background color. */
  background-color: rgb(0, 255, 221);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

h1.looking {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #f3ec78, #42af9d);
}

h1.working {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #e578f3, #53d8d8);
}

h1.learning {
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #b3f378, #4d42af);
}

h1.interests {
  font-size: 16px;
  /* Create the gradient. */
  background-image: linear-gradient(45deg, #f3c278, #425faf);
}

/* Blog Page */

.blog_card {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  /* border: 2px solid green; */
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  text-decoration: none;
}

.blog_img {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.blog_peek {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.blog_title {
  font-size: 32px;
  width: 80%;
  line-height: 1.5;
}

.blog_description {
  width: 80%;
  line-height: 1.5;
  margin-bottom: 24px;
}

.blog_published {
  text-align: left;
  margin: 12px;
  width: 80%;
  font-style: italic;
  color: grey;
}

.tags {
  padding: 8px 0;
  width: 80%;
}

/* ------------------------ Projects Page ------------------------ */

.projects_card {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* border: 2px solid yellow; */
  width: 100%;
  height: 100%;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.projects {
  display: flex;
  width: 100%;
  height: 80%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background: url(../img/bloggingsite.png);
  background-size: cover;
}

.projects_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 20%;
  /* border: 2px solid blue; */
}

.projects_description {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  width: 50%;
}

.projects_title {
  margin: 24px 0 0 24px;
}

.projects_text {
  margin: 0 24px;
}

.projects_tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  /* border: 2px solid green; */
  width: 50%;
}

.projects_text a:hover {
  color: brown;
}

/* Tags */
span {
  padding: 8px 24px;
  margin: 0 12px 0 0;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.html_tag {
  border: 2px solid red;
}

.css_tag {
  border: 2px solid blue;
}

.git_tag {
  border: 2px solid black;
}

.js_tag {
  border: 2px solid yellow;
}

.api_tag {
  border: 2px solid grey;
}

/* Footer */

footer {
  display: flex;
  position: fixed;
  bottom: 30px;
  color: rgba(0, 0, 0, 0.5);
  /* border: 4px solid rgb(3, 3, 3); */
}
